@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<AuthorizeView>
    <Authorized>
        <div role="status" style="padding-bottom: 1em;">
            Current count: @currentCount
        </div>
        <button Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <p>Only users who are logged in can count.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}